html, body{
	margin: 0px;
	background-color: #e8ffec;
	overflow: hidden;
}

div#wrapper{
	height: -moz-fit-content;
	height: fit-content;
	width: 70%;
	background-color: white;
	
	position: absolute;
	left: 15%;
	top: 5%;
	
	box-shadow: 10px 10px #cff;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(.67,-0.51,.19,1.16);
}

div#wrapper:hover{
	box-shadow: 10px 10px #a6f3ff;
}